[part~="cell"].min-padding ::slotted(vaadin-grid-cell-content) {
    padding: 2px;
}

[part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
    padding: 4px;
}

td.bold {
    font-weight: bold;
}